##1

<!--Page diveded into half Here (First Half)-->
<div class="col-6 border border-dark">
        <!--Inner Half in first Half-->
        <div class="col-5 border border-primary">
            <label for="">First name:</label>
            <input type="text" name="" id="" class="form-control">
            <label for="">First name:</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <!-- Inner Half in first Half Ended Here-->

        <!--Inner Half in first Half Here (Second Part)-->
        <div class="col-5 border border-secondary">
            <label for="">Last name:</label>
            <input type="text" name="" id="" class="form-control">
        </div>
        <!--Inner Half in first Half Ended Here (Second Part)-->
    </div>
    <!--Page Divided into half Ended Here (First Half) -->

    <!--Page Divided into half here (Second Half)-->
    <div class="col-6 border border-warning">
            label for="">Last name:</label>
            <input type="text" name="" id="" class="form-control">
    </div>
    <!--Page Divided into half here (Second Half)-->


## 1 Ended
