{% extends 'accounts/base.htm' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="">
    <div class="row pt-3">
        <div class="col-1 "></div>
        <div class="col-10 ">
            <div class="shadow-lg p-3 mb-5 bg-white rounded overflow-hidden special-card">
                <div class="p-2">
                    <div class="content-section">
                        <div class="media">
                            <img src="{{user.profile.image.url}}" height="80px" width="80px" alt="User Image" class="rounded-circle account-img">
                            <div class="media-body pl-3">
                                <h2 class="account-heading">{{user.username}}</h2>
                                <p class="text-secondary">{{user.email}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-8 mx-5">
                    <form action="{% url 'profile_page' %}" method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                            {{user_form | crispy}}
                            {{profile_form | crispy}}
                            <input type="submit" name="" id="" value="Update" class="btn btn-success float-right mb-3">
                    </form>
                </div>
                </div> 
            </div>
        </div>
        <div class="col-1 "></div>
    </div>
    
</div>

{% endblock %}